<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>B</key>
		<string>242</string>
		<key>G</key>
		<string>244</string>
		<key>R</key>
		<string>255</string>
		<key>ON</key>
		<string>1</string>
	</dict>
	<dict>
		<key>B</key>
		<string>237</string>
		<key>G</key>
		<string>244</string>
		<key>R</key>
		<string>255</string>
		<key>ON</key>
		<string>1</string>
	</dict>
	<dict>
		<key>B</key>
		<string>253</string>
		<key>G</key>
		<string>249</string>
		<key>R</key>
		<string>255</string>
		<key>ON</key>
		<string>0</string>
	</dict>
	<dict>
		<key>B</key>
		<string>253</string>
		<key>G</key>
		<string>249</string>
		<key>R</key>
		<string>255</string>
		<key>ON</key>
		<string>0</string>
	</dict>
	<dict>
		<key>B</key>
		<string>253</string>
		<key>G</key>
		<string>249</string>
		<key>R</key>
		<string>255</string>
		<key>ON</key>
		<string>0</string>
	</dict>
	<dict>
		<key>B</key>
		<string>253</string>
		<key>G</key>
		<string>249</string>
		<key>R</key>
		<string>255</string>
		<key>ON</key>
		<string>1</string>
	</dict>
	<dict>
		<key>B</key>
		<string>217</string>
		<key>G</key>
		<string>233</string>
		<key>R</key>
		<string>255</string>
		<key>ON</key>
		<string>0</string>
	</dict>
	<dict>
		<key>B</key>
		<string>211</string>
		<key>G</key>
		<string>234</string>
		<key>R</key>
		<string>255</string>
		<key>ON</key>
		<string>1</string>
	</dict>
	<dict>
		<key>B</key>
		<string>177</string>
		<key>G</key>
		<string>215</string>
		<key>R</key>
		<string>255</string>
		<key>ON</key>
		<string>0</string>
	</dict>
	<dict>
		<key>B</key>
		<string>177</string>
		<key>G</key>
		<string>215</string>
		<key>R</key>
		<string>250</string>
		<key>ON</key>
		<string>1</string>
	</dict>
	<dict>
		<key>B</key>
		<string>177</string>
		<key>G</key>
		<string>215</string>
		<key>R</key>
		<string>122</string>
		<key>ON</key>
		<string>0</string>
	</dict>
	<dict>
		<key>B</key>
		<string>177</string>
		<key>G</key>
		<string>215</string>
		<key>R</key>
		<string>150</string>
		<key>ON</key>
		<string>1</string>
	</dict>
	<dict>
		<key>B</key>
		<string>177</string>
		<key>G</key>
		<string>215</string>
		<key>R</key>
		<string>166</string>
		<key>ON</key>
		<string>0</string>
	</dict>
	<dict>
		<key>B</key>
		<string>177</string>
		<key>G</key>
		<string>200</string>
		<key>R</key>
		<string>80</string>
		<key>ON</key>
		<string>1</string>
	</dict>
	<dict>
		<key>B</key>
		<string>177</string>
		<key>G</key>
		<string>150</string>
		<key>R</key>
		<string>69</string>
		<key>ON</key>
		<string>0</string>
	</dict>
	<dict>
		<key>B</key>
		<string>177</string>
		<key>G</key>
		<string>80</string>
		<key>R</key>
		<string>85</string>
		<key>ON</key>
		<string>1</string>
	</dict>
</array>
</plist>
