<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>light</key>
		<string>66</string>
		<key>B</key>
		<string>253</string>
		<key>G</key>
		<string>249</string>
		<key>R</key>
		<string>255</string>
	</dict>
	<key>11</key>
	<dict>
		<key>light</key>
		<string>66</string>
		<key>B</key>
		<string>240</string>
		<key>G</key>
		<string>245</string>
		<key>R</key>
		<string>255</string>
	</dict>
	<key>21</key>
	<dict>
		<key>light</key>
		<string>66</string>
		<key>B</key>
		<string>225</string>
		<key>G</key>
		<string>239</string>
		<key>R</key>
		<string>255</string>
	</dict>
	<key>31</key>
	<dict>
		<key>light</key>
		<string>66</string>
		<key>B</key>
		<string>208</string>
		<key>G</key>
		<string>232</string>
		<key>R</key>
		<string>255</string>
	</dict>
	<key>41</key>
	<dict>
		<key>light</key>
		<string>66</string>
		<key>B</key>
		<string>188</string>
		<key>G</key>
		<string>225</string>
		<key>R</key>
		<string>255</string>
	</dict>
	<key>51</key>
	<dict>
		<key>B</key>
		<string>166</string>
		<key>light</key>
		<string>66</string>
		<key>G</key>
		<string>215</string>
		<key>R</key>
		<string>255</string>
	</dict>
	<key>61</key>
	<dict>
		<key>B</key>
		<string>141</string>
		<key>G</key>
		<string>203</string>
		<key>light</key>
		<string>66</string>
		<key>R</key>
		<string>255</string>
	</dict>
	<key>71</key>
	<dict>
		<key>B</key>
		<string>111</string>
		<key>light</key>
		<string>66</string>
		<key>G</key>
		<string>189</string>
		<key>R</key>
		<string>255</string>
	</dict>
	<key>81</key>
	<dict>
		<key>B</key>
		<string>77</string>
		<key>light</key>
		<string>66</string>
		<key>G</key>
		<string>170</string>
		<key>R</key>
		<string>255</string>
	</dict>
	<key>91</key>
	<dict>
		<key>B</key>
		<string>29</string>
		<key>light</key>
		<string>66</string>
		<key>G</key>
		<string>146</string>
		<key>R</key>
		<string>255</string>
	</dict>
</dict>
</plist>
